@model ProjeCore.Models.Birim
@{
    ViewData["Title"] = "YeniBirim";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<h1>Yeni Departman Ekleme</h1>

<form method="post"> 
    <label asp-for="BirimAd">Birim Adı</label>
    <input asp-for="BirimAd" />

    <button>Yeni Birim Ekle</button>
</form>


